## CH1

In [4]:
s = r = "dana"
s = "Rowida"
r , s

('dana', 'Rowida')

In [5]:
x = y = [7, 8, 9] # x and y refer to the same list object just created, [7, 8, 9]
x = [13, 8, 9] # x now refers to a different list object just created, [13, 8, 9]
print(y) # y still refers to the list it was first assigned

[7, 8, 9]

In [6]:
x = y = [7, 8, 9] # x and y refer to the same list object just created, [7, 8, 9]
x[0] = [13, 8, 9] # x now refers to a different list object just created, [13, 8, 9]
print(y) # y still refers to the list it was first assigned

[[13, 8, 9], 8, 9]

In [7]:
b = 100.e0
c = 123456789.e2
b , c

(100.0, 12345678900.0)

## str vs r >> row

In [13]:
S = "foor \n boo"
row = r"foo\nboo" ## will not convert \n to a new line
print(S  , row)

foor
 boo foo\nboo

In [14]:
from collections import namedtuple 
      
# Declaring namedtuple()  
Student = namedtuple('Student',['name','age','DOB'])  
      
# Adding values  
S = Student('Nandini','19','2541997')
S

Student(name='Nandini', age='19', DOB='2541997')

repr(x) calls x.__repr__(): a representation of x. eval will usually convert the result of this function back to the
original object.

str(x) calls x.__str__(): a human-readable string that describes the object

In [15]:
total = reduce(lambda a, x: a + x, [0, 1, 2, 3, 4])
print(total)

NameError: name 'reduce' is not defined

In [17]:
def rase(x, y):
    if y in (3,4,5):
        return x**y
    raise NumberNotInRangeException("You should provide a valid exponent")
    
from functors import partial
raise_to_three = partial(rase, y=3)
raise_to_four = partial(rase, y=4)
raise_to_five = partial(rase, y=5)

ModuleNotFoundError: No module named 'functors'